<!-- logout testing -->
<style>
    #banner {
        background-color: #1B1C1D;
        text-align: right;
        padding: 10px;
    }
    #greeting {
      color: white;
    }
  </style> 
  
  {% block content %}
  
  <div id="banner">
    <div id="greeting">Hello, {{ user.username|default:'Guest' }}!</div>
    
    <div>
      {% if user.is_authenticated %}
          <a href="{% url 'logout' %}">Logout</a>
      {% else %}
          <a href="{% url 'login' %}">Login</a>
      {% endif %}
    </div>

  </div>
  {% endblock %}
  
  {% load static %}
  <!doctype html>
  <html>
    <head>
      <title>Collaboratory Dashboard</title>
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">
    </head>
    <body>
      <div id="root">
      {{ users|json_script:'users' }}</div>
      <script src="{% static './js/index-bundle.js' %}"></script>
    </body>
  </html>